/* styles.css */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(las_estrellas_tienen_luz_propia_1578_600.jpg);
}

header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    width: 100%;
    margin: auto;
    position: center;
    text-align: center;
}
#logorick{
    width: 34%;
}

h1 {
    margin: 0;
    color: #f0f0f0;
}

#characterContainer {
    display: grid;
    gap: 1rem;
    justify-items: center;
    margin: 1rem;
}

.card {
    background-color: #1d1d1d;
    border: 1px solid #202020;
    color: #f0f0f0;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    width: 100%;
    /* Establece la posición relativa para que se pueda mover con las transformaciones */
    position: relative;
    /* Agrega una transición de 0.3 segundos para suavizar la animación */
    transition: transform 0.3s ease-in;
}
.card:hover {
    /* Aplica la transformación para mover la card hacia arriba */
    transform: translateY(-10px);
  }

@media screen and (min-width: 768px) {
    #characterContainer {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1200px;
        margin: 1rem auto;
    }
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    width: 100%;
    margin: auto;
    text-align: center;
}

  
  
  
  
  

  
